
@import "reset";
@import "typography";

@import url("https://use.typekit.net/iyk0rzd.css");


$primary-color: #F2F1EF;
$secondary-color: #fff;
$body-font: "neue-haas-grotesk-display";


body {
    background-color: $primary-color;
    font-family: neue-haas-grotesk-display;
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 1.75px;
    line-height: 1.225;
}


header {
    z-index: 999;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position:fixed;
    top: 0;
    left: 0;

    div.burger-menu {
        padding: 40px;
        cursor: pointer;
        transition: transform 0.3s ease;

        img {
            -webkit-user-drag: none;
            -khtml-user-drag: none;
            -moz-user-drag: none;
            -o-user-drag: none;
            user-drag: none;
        }
    }

    div.burger-menu.active {
        transform: rotate(-45deg)
    }

}

div.menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 50vw;
    height: 100vh;
    background-color: $secondary-color;
    transform: translateX(100%);
    transition: transform 0.5s ease;
    padding: 40px 40px 0 40px;
    overflow: scroll;
    z-index: 998;

        div.container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;

            div.footer {
                margin-bottom: 40px;
                font-size: 18px;
                font-family: neue-haas-grotesk-display;
                font-weight: 500;
                letter-spacing: 0.5px;
            }
        }

    h2 {
        text-transform: uppercase;
        margin-bottom: 40px;
    }

    p {
        margin-bottom: 40px;

        span {
            font-family: p22-mackinac-pro, serif;
            font-weight: 400;
            font-style: normal;
            letter-spacing: 0.6px;
        }
    }

    form {
        margin-top: 80px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding-bottom: 20px;

        div {
            display: flex;
            justify-content: space-between;
        }

        h3 {
            text-transform: uppercase;
            margin-bottom: 40px;
        }

        input {
            border: none;
        }

        button {
            width: 97px;
            height: 40px;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            box-shadow: 0px 0px 10px #00000033;
            border-radius: 32px;
            opacity: 1;
            text-transform: uppercase;
            font-size: 14px;
            border: none;
            cursor: pointer;
        }

    }
}

div.menu.open {
    transform: translateX(0);
}

main {


    section.draw-area {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        h1.logo {

            max-width: 370px;

            img {
                width: 100%;
                height: 100%;
                -webkit-user-drag: none;
                -khtml-user-drag: none;
                -moz-user-drag: none;
                -o-user-drag: none;
                user-drag: none;
            }

        }
        

    }

}
