
@import "reset";
@import "typography";


$primary-color: #F2F1EF;
$body-font: "Jost";


body {
    background-color: $primary-color;
    font-family: $body-font;
    font-size: 32px;
}


header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

main {


    section.draw-area {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        h1.logo {

            max-width: 370px;

            img {
                width: 100%;
                height: 100%;
                -webkit-user-drag: none;
                -khtml-user-drag: none;
                -moz-user-drag: none;
                -o-user-drag: none;
                user-drag: none;
            }

        }
        

    }

}
