
@import "reset";
@import "typography";
@import "animation";

@import url("https://use.typekit.net/iyk0rzd.css");


$primary-color: #F2F1EF;
$secondary-color: #fff;
$black-color: #000;
$select-color: rgba(0, 0, 0, 0.26);
$body-font: "neue-haas-grotesk-display";


body {
    background-color: $primary-color;
    font-family: neue-haas-grotesk-display;
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 1.75px;
    line-height: 1.225;
}

::selection {
    background: $select-color; /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
    background: $select-color; /* Gecko Browsers */
  }

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

p {
    span {
        font-family: p22-mackinac-pro, serif;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 0.6px;
    }
}

a {
    text-decoration: none;
}


header {
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
    cursor: pointer;

    div.burger-menu {
        height: 30px;
        position: absolute;
        transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
        transform: translate(-50%, 0%);

        /* img {
            -webkit-user-drag: none;
            -khtml-user-drag: none;
            -moz-user-drag: none;
            -o-user-drag: none;
            user-drag: none;
        } */

        div.burger-line {
            width: 30px;
            height: 2px;
            background-color: black;
        }

        .line-one {
            transform: rotate(-90deg);
        }

        .line-two {
            transform: translateY(-2px);
        }

    }

    div.burger-menu.active {
        transform: rotate(-45deg) translateY(-6px);
    }

}

div.menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 50vw;
    height: 100vh;
    background-color: $secondary-color;
    transform: translateX(100%);
    transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    padding: 40px 40px 0 40px;
    overflow: scroll;
    z-index: 998;

        div.container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;

            div.footer {
                padding: 40px 0;
                font-size: 18px;
                font-family: neue-haas-grotesk-display;
                font-weight: 500;
                letter-spacing: 0.5px;
            }
        }

    h2 {
        text-transform: uppercase;
        margin-bottom: 40px;
    }

    p {
        margin-bottom: 40px;

        span {
            font-family: p22-mackinac-pro, serif;
            font-weight: 400;
            font-style: normal;
            letter-spacing: 0.6px;
        }
    }

    form {
        margin-top: 80px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding-bottom: 20px;

        div {
            display: flex;
            justify-content: space-between;
        }

        h3 {
            text-transform: uppercase;
            margin-bottom: 40px;
        }

        input {
            border: none;
        }

        input::placeholder {
            color: rgba(0, 0, 0, 0.1);
        }

        button {
            width: 97px;
            height: 40px;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            box-shadow: 0px 0px 10px #00000033;
            border-radius: 32px;
            opacity: 1;
            text-transform: uppercase;
            font-size: 14px;
            border: none;
            cursor: pointer;
        }

    }
}

div.menu.open {
    transform: translateX(0);
}

main {


    section {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;


        div.logo-area {
            position: relative;
            width: 402px;

            h1 {
                max-width: 428px;
                transition: opacity 0.2s ease;
                display: flex;
                overflow: hidden;
                padding: 20px;
                align-items: center;
            }

            h1.logo {
                position: absolute;
                opacity: 1;
            }
            
            h1.logo-alt {
                opacity: 0;
            }

        }

        div.logo-area:hover {
            cursor: help;
        }

        div.logo-area:hover h1.logo {
            opacity: 0;
        }

        div.logo-area:hover h1.logo-alt {
            opacity: 1;
        }
        

    }

}

div.logo-area h1.main-logo span {
    transform: translateY(-110px);

    img {
        width: auto;
        height: auto;
    }
}

h1.logo span:nth-child(1),
h1.logo span:nth-child(2),
h1.logo span:nth-child(3),
h1.logo span:nth-child(4) {
    margin-right:5px;
}

div.stickers {
    position: fixed;
    top: 0;
    left: 0;

    height: 100vh;
    width: 100vw;
}

div.stickers img {
    position: absolute;
    transform: translate(-50%, -50%);
}

.blurred {
    -webkit-filter: blur(8px);
    transition: 0.3s filter ease;
    filter: blur(8px);
}

/* .sticker-slapped {
    animation: floating 8s ease-in-out infinite;
} */



footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 18px;
    font-weight: 500;
    padding: 40px 20px;
    letter-spacing: 1px;
    transform: translate3d(0, 100%, 0);
    transition: transform 1.2s cubic-bezier(.72,0,.01,1);

    h3 {
        text-transform: uppercase;
        display: block;
    }

    span a {
        color: $black-color;
        text-decoration: underline;
    }

}

footer.animated {
    transform: translate3d(0, 0%, 0);
}
